img {
    image-orientation: from-image;
}

body {
    background-color: #2d4249;
}

a {
    color: #eb9385;
    font-size: .9vw;
    font-family: "Helvetica";
    padding-left: 60px;
}

h1, h2 {
    color: #937782;
    text-align: center;
    text-transform: uppercase;
    font-family: "Arial Black";
    border-radius: 5px;
    margin-left: 30%;
    margin-right: 30%;
    padding-right: 10px;
    padding-left: 10px;
}

h1 {
    font-size: 5vw;
    margin-top: 50px;
    margin-bottom: 5px;
}

h2 {
    font-size: 2vw;
    margin-top: 5px;
    margin-bottom: 50px;
}

h4 {
    font-size: 1.5vw;
    color: #f5eedb;
    font-family: "Arial Black";
    text-align: left;
    margin-top: 50px;
    margin-bottom: 10px;
    text-transform: uppercase;

}

h5 {
    font-size: 1.2vw;
    color: rgb(245, 238, 219);
    font-family: "Arial Black";
    text-align: left;
    margin-top: 50px;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding-left: 60px;
}

h3 {
    color: #99c0bc;
    text-transform: uppercase;
    font-family: "Arial Black";
    margin-left: 10%;
    font-size: 2vw;
}

p {
    color: rgb(245, 238, 219);
    font-size: .9vw;
    font-family: "Helvetica";
}

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #2d4249;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    width: 33.3%;
    transition: 0.3s;
    color: #99c0bc;
    text-transform: uppercase;
    font-family: "Arial Black";
    font-size: 1.5vw;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: rgba(45, 66, 73, 0.82);
}

/* Create an active/current tablink class */
.tab button.active {
    border: #2d4249;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /*border: 1px solid #ccc;*/
    border-top: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.column {
    float: left;
    width: 50%;
}

.leftHeaderColumn {
    float: left;
    width: 25%;
}

.rightHeaderColumn {
    float: left;
    width: 25%;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}