img {
    image-orientation: from-image;
}

body {
    background-color: #2d4249;
}

a {
    color: #eb9385;
    font-size: 18px;
    font-family: "Helvetica";
    margin-left: 25%;
    margin-right: 25%;
}

h1, h2 {
    color: #937782;
    text-align: center;
    text-transform: uppercase;
    font-family: "Arial Black";
    margin-left: 30%;
    margin-right: 30%;
    padding-right: 10px;
    padding-left: 10px;
}

h1 {
    font-size: 75px;
    margin-bottom: 5px;
    margin-top: 0px;
    padding-top: 0px;
}

h2 {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 50px;
}

h4 {
    font-size: 25px;
    color: #f5eedb;
    font-family: "Arial Black";
    text-align: left;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 25%;
    margin-right: 25%;
    text-transform: uppercase;

}

h5 {
    font-size: 22px;
    color: rgb(153, 192, 188);
    border-bottom: 2px solid rgb(153, 192, 188);
    font-family: "Arial Black";
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 25%;
    margin-right: 25%;
    text-transform: uppercase;
}

h6 {
    font-size: 20px;
    color: #f5eedb;
    font-family: "Arial Black";
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 25%;
    margin-right: 25%;
    text-transform: uppercase;
}

h3 {
    color: #99c0bc;
    text-transform: uppercase;
    font-family: "Arial Black";
    margin-left: 10%;
    font-size: 2vw;
}

p {
    color: rgb(245, 238, 219);
    font-size: 18px;
    font-family: "Helvetica";
    margin-left: 25%;
    margin-right: 25%;
}

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #2d4249;
    margin-left: 25%;
    margin-right: 25%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    width: 33.333333%;
    transition: 0.3s;
    color: #99c0bc;
    text-transform: uppercase;
    font-family: "Arial Black";
    font-size: 25px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: rgb(64, 86, 93);
}

/* Create an active/current tablink class */
.tab button.active {
    border-bottom: 5px solid #99c0bc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /*border: 1px solid #ccc;*/
    border-top: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}